body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

.container_1200 {
  max-width: 1200px;
  margin: 0 auto;
}
.menu_inline {
  list-style: none;
}
.menu_inline li {
  display: inline;
  text-transform: uppercase;
  float: right;
}
.menu_inline li a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: lighter;
}

header {
  background-color: white;
}
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  line-height: 80px;
  background-color: white;
}
.header-top .container_1200 > .container {
  padding: 0 30px;
}
.header_logo {
  vertical-align: middle;
}
.header_menu li:not(:first-child){
  margin-right: 40px;
}
.header_menu_lang {
  display: inline;
}
.header_menu_lang li {
  float: none;
}
.header_menu_lang li:not(:last-child) {
  border-right: 1px solid black;
  padding-right: 10px;
  margin-right: 8px;
}
.header_menu_lang li:last-child {
  margin-right: 0;
}
.ico_hamburger {
  float: right;
  font-size: 3.7em;
  line-height: 80px;
  vertical-align: middle;
}

.lg_display_none {
  display: none;
}
.lg_display_block {
  display: block;
}

.jumbo {
  position: relative;
  height: 600px;
  margin-top: 80px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
}
.jumbo_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  text-align: center;
  color: white;
}
.jumbo_text h1 {
  font-size: 4em;
  margin-bottom: 0.8rem;
}
.jumbo_text p {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}

.container.helbizgo {
  margin: 80px auto;
}
#helbizgo-bike .background-color {
  width: 95%;
  margin: 0 20px;
  padding: 11%;
  background-color: #FAFAFA;
}
.helbizgo-bike {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.helbizgo-bike h3 {
  font-size: 2.1em;
  font-weight: 400;
  margin-top: 25px;
}
.helbizgo-bike a {
  display: block;
  width: 50%;
  margin: 15px auto 30px;
  font-size: 2em;
  text-decoration: none;
}
.helbizgo-bike a::after {
  content: " ›";
}
.helbizgo-bike img{
  width: 200px;
  max-width: 100%
}

.how {
height: 800px;
}
.how.background {
  background-image: url(https://www.helbiz.com/asset/pages/newhome/images/HelbizBanner.jpg);
  background-size: auto 600px;
  background-position: 25% 0;
  background-repeat: no-repeat;
  height: 800px;
}
.how .container [class*="col-"] {
  height: 800px;
}

.how .container h2 {
  font-size: 3.6em;
  margin-top: 660px;
}
.how .container .smartphone {
  text-align: center;
}
.how .container img {
  margin-top: 200px;
  width: 376px;
}
.how .container h4 {
  margin: 660px 50px 15px;
  font-size: 1.8em;
  font-weight: 600;
}

.how .container p {
  font-size: 1.6em;
  margin-left: 50px;
}

@media screen and (max-width: 992px) {
  .how .container h2,
  .how .container h4,
  .how .container p {
    margin: 15px 0 0;
  }
  .how .container [class*="col-"] {
    height: auto;
  }

}

@media screen and (min-width: 768px) and (max-width: 992px) {

  .header-top {
    padding: 0 2%;
  }
  .md_display_block {
    display: block;
  }
  .md_display_none {
    display: none;
  }
  .jumbo_text a {
    display: inline-block;
    width: calc(100% / 4);
    max-width: 164px;
  }
  .jumbo_text a img {
    width: 100%;
  }
  .helbizgo-bike a {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 8px;
  }
  .xs_display_block {
    display: block;
  }
  .xs_display_none {
    display: none;
  }
  .header-top {
    padding: 0 2%;
  }
  .jumbo_text h1 {
    font-size: 3.5em;
    margin-bottom: 0.8rem;
  }
  .jumbo_text p {
    font-size: 2em;
    margin-bottom: 0.8rem;
  }
  .jumbo_text a {
    display: inline-block;
    width: calc(100% / 4);
    min-width: 130px;
    max-width: 164px;

  }
  .jumbo_text a img {
    width: 100%;
  }

}
